<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">

        {{>header}}

    <br>
    <p>You can't change the weather, but you can be better prepared for it.</p>
    <p>It features all of the stuff you'd expect from a weather app. That includes weather forecasts, temperature, rain forecasts, and more.</p>


    </div>
    

    {{>footer}}

</body>
</html>